article {
  background-color:lightcyan;
  margin: auto;
  padding: 20px;
  height:auto;
  text-align: center;
}
p {
  color:brown;
  font-size:19px;
  font-family: helvetica;
}
h1 {
  color:red;
  font-size:30px;
  font-family: helvetica;
}
h2 {
  color:red;
  font-size:25px;
  font-family: helvetica;
}
h3 {
  color:red;
  font-size:22px;
  font-family: helvetica;
}
ul li { color:brown;
  font-size:19px;
  font-family:helvetica;
  list-style-position: inside;
  dsplay: table;
  margin: auto;
}
ol li { color:brown;
  font-size:19px;
  font-family:helvetica;
  list-style-position: inside;
  display: list-item;
  margin: auto;
}
/* I did not want to
choose a color for the links when the
cursor hovers over them because
I dislike that */
a:link { color:blue;
}
a:visited { color:purple;
}
a:active { color: red;
}
.outer { text-align:center;
}
.inner {text-align:center;
}
/* footer is aligned on the left side deliberately because I chose it that way */
footer { text-align: left;
  font-size:15px
}
