html {
  background-color:lightcyan;
  text-align:center;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
  height:auto;
}
}
p {
  color:brown;
  font-size:19px;
  font-family: helvetica;
}
h1 {
  color:red;
  font-size:30px;
  font-family: helvetica;
}
h2 {
  color:red;
  font-size:25px;
  font-family: helvetica;
}
h3 {
  color:red;
  font-size:22px;
  font-family: helvetica;
}
ul { color:brown;
  font-size:19px;
  font-family:helvetica;
}
ol { color:brown;
  font-size:19px;
  font-family:helvetica;
}
