html {
  background-color:lightcyan;
}
p {
  color:brown;
  font-size:19px;
  font-family: helvetica;
  text-align: center;
}
h1 {
  color:red;
  font-size:30px;
  font-family: helvetica;
  text-align:center;
}
h2 {
  color:red;
  font-size:25px;
  font-family: helvetica;
  text-align:center;
}
h3 {
  color:red;
  font-size:22px;
  font-family: helvetica;
  text-align:center;
}
