html, body {
  background-color:lightcyan;
  margin: auto;
  padding: 20px;
  height:auto;
}
p {
  color:brown;
  font-size:19px;
  font-family: helvetica;
}
h1 {
  color:red;
  font-size:30px;
  font-family: helvetica;
}
h2 {
  color:red;
  font-size:25px;
  font-family: helvetica;
}
h3 {
  color:red;
  font-size:22px;
  font-family: helvetica;
}
ul { color:brown;
  font-size:19px;
  font-family:helvetica;
}
ol { color:brown;
  font-size:19px;
  font-family:helvetica;
}
a:link { color:blue;
}
a:visited { color:purple;
}
a:active { color: red;
}
